[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "themes/alchemy"]
	path = themes/alchemy
	url = git@github.com:nairobilug/pelican-alchemy.git
[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy
[submodule "plugins/pelican_plugins"]
	path = plugins/pelican_plugins
	url = https://github.com/getpelican/pelican-plugins.git
