[submodule "project/themes/alchemy"]
	path = themes/alchemy
	url = git@github.com:nairobilug/pelican-alchemy.git
[submodule "project/themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy
[submodule "project/plugins/pelican_plugins"]
	path = plugins/pelican_plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "project/plugins/ipynb"]
	path = project/plugins/ipynb
	url = https://github.com/danielfrg/pelican-jupyter.git
