body {
	background-color: #c3e5a8;
}

a {
	color: #6e4cbd;
}

a:focus,
a:hover {
	color: #0085a1;
}

blockquote {
	color: #818a91;
	opacity: inherit;
}

.header {
	border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.main {
	background-color: #fff;
}

.footer {
	border-top: 1px solid rgba(0, 0, 0, .1)
}

.highlight pre {
	border: 1px solid rgba(0, 0, 0, .1)
}

.pagination .page-link {
	color: #6e4cbd;
}
